
<h1>Details of {{detailsOfSpecificUser.name}}</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Password</th>
  </tr>
  <!-- data from user -->
  <tr>
    <td>{{detailsOfSpecificUser.id}}</td>
    <td>{{detailsOfSpecificUser.name}}</td>
    <td>{{detailsOfSpecificUser.email}}</td>
    <td>{{detailsOfSpecificUser.role}}</td>
    <td>{{detailsOfSpecificUser.password}}</td>
  </tr>
</table>

<div class="text-center">
  <button class="btn btn-success mt-3" routerLink="/">Back</button>
</div>

